In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
data = pd.concat([train, test], sort=True)

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
ageMean = train['Age'].mean()
train['Age'] = train.Age.fillna(ageMean)

In [6]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
train = train.drop(columns = ['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])
train.head()

   PassengerId  Survived  Pclass     Sex   Age     Fare
0            1         0       3    male  22.0   7.2500
1            2         1       1  female  38.0  71.2833
2            3         1       3  female  26.0   7.9250
3            4         1       1  female  35.0  53.1000
4            5         0       3    male  35.0   8.0500

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
gle = LabelEncoder()
train[['Sex', 'Embarked']] = gle.fit_transform(train['Sex', 'Embarked'])

In [10]:
# train = train[['PassengerId', 'Pclass', 'Sex', 'Fare', 'Survived']]

In [11]:
features = ['Pclass', 'Fare', 'Sex', 'Age']
X = train[features]
Y = train['Survived']

# from sklearn.preprocessing import StandardScaler
# ss = StandardScaler()
# X = ss.fit_transform(X)

In [12]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size = 800, random_state = 0)

In [13]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver="liblinear")
model = lr.fit(train_X, train_Y)
predictions = model.predict(test_X)
predictions

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0])

In [14]:
score = model.score(test_X, test_Y)
score

0.7692307692307693

In [15]:
ageMean = test.Age.mean()
test['Age'] = test.Age.fillna(ageMean)

In [16]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [17]:
test = test.drop(columns = [ 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])

In [18]:
test['Fare'] = test.Fare.fillna(7.75)

In [24]:
test[['Sex', 'Embarked']] = gle.fit_transform(test['Sex', 'Embarked'])
test.head()

KeyError: ('Sex', 'Embarked')

In [20]:
features = ['Pclass', 'Fare', 'Sex', 'Age']

# ss.fit_transform(test[features])

In [21]:
result = lr.predict(test[features])

In [23]:
result_df = pd.DataFrame(result)
result_df.index = test.PassengerId
result_df.columns = ['Survived']
result_df.to_csv("result.csv")